<%= simple_form_for([@route, @reward], :url=> route_reward_path(@route), :remote => true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs clearfix">
    <div class="span5">

      <%= f.input :image %>
    </div>
    <div class="span5">

      <%= render :partial => "shared/localized_attributes", :locals => {:resource => @reward, :f => f}  %>

    </div>

  </div>

  <div class="form-actions hidden">
    <%= f.button :submit %>
  </div>


<% end %>


