<div class="rewards-container-narrow">

  <div class="masthead">

  </div>

  <hr>

  <div class="rewards-jumbotron">
    <h1><%= @reward.name%> </h1>
    <p class="lead">
      <img style="width: 400px; height: 400px;" src="<%= @reward.image %>">
    </p>
    <p class="lead">  <%= @reward.description %></p>
  </div>
  <hr>
  <p class="lead centered">Take a Hike!</p>
  <div class="row-fluid rewards-marketing">
    <div class="span6">
      <p class="centered">
        <a href="https://itunes.apple.com/nl/app/take-a-hike!/id659545032?l=en&mt=8" target="_blank">
          <%= image_tag("Available_on_the_App_Store_Badge_172.png")%></a>
      </p>
      </div>
    <div class="span6">
      <p class="centered">
        <a href="#" target="_blank">
          <%= image_tag("en_generic_rgb_wo_172.png")%></a>
      </p>

    </div>


  </div>

  <div class="footer-center">

  </div>

</div>



<% content_for :reward_meta do %>
  <meta property="og:title" content="<%= @reward.name %>">
  <meta property="og:url" content="<%= reward_path(@reward) %>">
  <meta property="og:description" content="<%= @reward.description %>">
  <meta property="og:image" content="<%= @reward.image_url %>">
  <meta property="game:points" content="5">
  <meta property="fb:app_id" content="547542925309510">
<% end %>