<ul class="nav nav-tabs">
  <%= render :partial => "shared/translation_tabs", :locals => {:resource => resource, :locale => I18n.locale, :f => f, :active => true} %>
  <% resource.translations.each do |translation| %>
    <%= render :partial => "shared/translation_tabs", :locals => {:resource => resource, :locale => translation.locale, :f => f} if (translation.locale != I18n.locale) %>
  <% end %>
  <li><%= select_tag :new_locale, options_from_collection_for_select(outstanding_translations(resource), "to_s", "to_s"), :include_blank => false %>
  </li>
  <li>
    <%= button_tag :type => 'button', :class => "btn btn-primary add-translation", :data => {:'translation-url' => translation_path(resource.class.name, resource.id || 0) + "/"} do %>
      <%= t(:add_translation) %>
    <% end %>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="<%= translation_tab_id(resource, I18n.locale) %>">

    <%= f.input :name %>
    <%= f.input :description, :as => :text, :input_html => {:rows => 10} %>

  </div>

  <% resource.translations.each do |translation| %>
    <%= render :partial => "shared/translation_fields", :locals => {:locale => translation.locale, :f => f, :resource => resource} if (translation.locale != I18n.locale) %>
  <% end %>
</div>