<div class="tab-pane<%= I18n.locale == f.object.locale ? " active" : "" %>" id="<%= translation_tab_id(resource, f.object.locale) %>">

  <%= f.input :name %>
  <% if f.object.has_attribute? :description %>
    <%= f.input :description, :as => :text, :input_html => {:rows => 10} %>
  <% end %>
  <%= f.input_field :_destroy, :as => :hidden %>
  <%= f.input_field :locale, :as => :hidden %>
</div>