<%= simple_form_for([@route_profile, @route], :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs clearfix">
    <div class="span4">
      <%= f.input :name_en %>
      <%= f.input :description_en, :input_html => {:rows => 10} %>
    </div>
    <div class="span4">
      <%= f.input :name_nl %>
      <%= f.input :description_nl, :input_html => {:rows => 10} %>
    </div>
    <div class="span5">
      <%= f.input :icon %>
      <%= f.input :image %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
