<%= simple_form_for([@route_profile, @route], :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs clearfix">

    <div class="span5">
      <%= f.association :city, :collection => current_user.cities_curated, :include_blank=> false %>
      <%= f.association :city, :collection => current_user.cities_curated, :include_blank=> false %>
      <%= f.input :image %>
    </div>

    <div class="span9">

      <%= render :partial => "shared/localized_attributes", :locals => {:resource => @route, :f => f}  %>

    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
