<h4><%= t :reward %>
  <%= link_to t(:add_reward), new_route_reward_path(@route), :data => {:target => :"#reward_modal", :toggle => :modal}, :class => "btn btn-mini btn-success pull-right" if (@route.reward.blank?) %>

  <%= link_to t(:delete_reward), route_reward_path(@route), :method => :delete, :confirm => :are_you_sure, :remote => true, :class => "btn btn-mini btn-danger pull-right" unless (@route.reward.blank?) %>
  <%= link_to t(:edit_reward), edit_route_reward_path(@route), :data => {:target => :"#reward_modal", :toggle => :modal}, :class => "btn btn-mini btn-primary pull-right" unless (@route.reward.blank?) %>

</h4>
<% if @route.reward.blank? %>
  <p>none</p>
<% else %>
  <img style="width: 200px; height: 200px;" src="<%= @route.reward.image_url %>">
  <ul class="nav nav-tabs translations-tabs">
    <%= render :partial => "shared/translation_tabs", :locals => {:locale => I18n.locale, :resource => @route.reward, :active => true} %>
    <% @route.reward.translations.each do |translation| %>
      <%= render :partial => "shared/translation_tabs", :locals => {:locale => translation.locale, :resource => @route.reward} if (translation.locale != I18n.locale) %>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="<%= translation_tab_id(@route.reward, locale) %>">
      <h5><%= @route.reward.name %></h5>

      <p><%= @route.reward.description %></p>
    </div>
    <% @route.reward.translations.each do |translation| %>
      <%= render :partial => "shared/translation_values", :locals => {:translation => translation, :resource => @route.reward} %>
    <% end %>

  </div>



<% end %>