<ul class="breadcrumb">
  <li><%= link_to t(:home) , home_path %> <span class="divider">/</span></li>
  <li><%= link_to t(:'navbar.routes') , routes_path %> <span class="divider">/</span></li>
  <li class="active"><%= t(:edit) + ' "' + @route.name + '"'%></li>
</ul>

<%= render 'form' %>

<%= link_to 'Show', route_path(@route) %> |
<%= link_to 'Back', routes_path %>
