<%- model_class = Route -%>
<ul class="breadcrumb">
  <li><%= link_to t(:home), home_path %> <span class="divider">/</span></li>
  <li class="active"><%= t(:'navbar.routes') %></li>
  <% if can? :create, model_class %>
    <li class="pull-right"><%= link_to t(:add_route), new_route_path, :class => "add-route btn btn-mini btn-success pull-right" %></li>
  <% end %>
</ul>
<%= render :partial => "shared/city_tabs", :locals => {} %>
<div class="row-fluid">
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:route_profile) %></th>
      <th><%= model_class.human_attribute_name(:translations) %></th>
      <th><%= model_class.human_attribute_name(:waypoints) %></th>
      <th></th>
    </tr>
    </thead>
    <% @routes.each do |route| %>
      <tr>
        <td><%= image_tag (route.image.icon.url ), :class => "route-list-img" if route.image.icon.present? %></td>
        <td class="name"><%= link_to route.name, route_path(route) %></td>
        <td class="profile"><%= link_to route.route_profile.name, route_profile_path(route.route_profile) if route.route_profile.present? %></td>
        <td class="translations"><%= route.translated_locales.join(" | ") %></td>
        <td><%= route.waypoints.count %></td>
        <td><%= link_to t(:edit), edit_route_path(route), :class => "btn btn-primary" %></td>

      </tr>
    <% end %>
  </table>

  <br/>


</div>

<br/>

