<ul class="breadcrumb">
  <li><%= link_to t(:home) , home_path %> <span class="divider">/</span></li>
  <li><%= link_to t(:'navbar.route_profiles') , route_profiles_path %> <span class="divider">/</span></li>
  <li><%= link_to @route_profile.name_en , route_profile_path(@route_profile) %> <span class="divider">/</span></li>
  <li class="active"><%=@route.name_en %></li>
</ul>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @route.name_en %>
</p>

<p>
  <b>Description:</b>
  <%= @route.description_en %>
</p>

<p>
  <b>Icon:</b>
  <%= @route.icon %>
</p>

<p>
  <b>Image:</b>
  <%= @route.image %>
</p>


<%= link_to 'Edit', edit_route_profile_route_path(@route_profile,@route) %> |
<%= link_to 'Back', route_profile_routes_path(@route_profile) %>
