<ul class="breadcrumb">
  <li><%= link_to t(:home), home_path %> <span class="divider">/</span></li>
  <li><%= link_to t(:'navbar.route_profiles'), route_profiles_path %> <span class="divider">/</span></li>
  <li><%= link_to @route_profile.name_en, route_profile_routes_path(@route_profile) %>
    <span class="divider">/</span>
  </li>
  <li class="active"><%= @route.name_en %></li>
</ul>
<div class="row-fluid">


  <div class="span6">
    <h4><%= t :details %>
      <%= link_to t(:edit), edit_route_profile_route_path(@route_profile, @route), :class => "btn btn-mini btn-primary pull-right" %>
    </h4>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#route_en" data-toggle="tab"><%= t :english %></a></li>
      <li class=""><a href="#route_nl" data-toggle="tab"><%= t :nederlands %></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="route_en">
        <h5><%= @route.name_en %></h5>

        <p><%= @route.description_en %></p>
      </div>
      <div class="tab-pane" id="route_nl">
        <h5><%= @route.name_nl %></h5>

        <p><%= @route.description_nl %></p>
      </div>

    </div>
  </div>
  <div class="span5">

    <h4>
      <%= t :icon_and_image %>
      <%= link_to t(:delete_route), route_profile_route_path(@route_profile, @route), :method => :delete, :confirm => :are_you_sure, :class => "btn btn-mini btn-danger pull-right" %>
      <%= link_to t(:crop), crop_route_profile_route_path(@route_profile), :class => "btn btn-mini pull-right" %>
    </h4>
    <img style="width: 300px; height: 200px;" src="<%= @route.image.mobile %>">
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h4><%= t :waipoints %>
      <span class="waypoint-info icon-question-sign" data-content="<%= t(:waypoint_instructions) %>"></span></h4>

    <div class="pull-left">
      <h6><%= t :included %></h6>

      <ul class="connected waypoint-list clearfix " id="waypoints">
        <% @route.waypoints.each do |waypoint| %>
          <li class="ui-state-default alert-info" data-waypoint-id="<%= waypoint.id %>" data-location-id="<%= waypoint.location.id %>">
            <%= waypoint.location.name_en %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="pull-right">
      <h6><%= t :available %></h6>
      <ul class="connected waypoint-list clearfix" id="locations">
        <% @locations.each do |location| %>
          <li class="ui-state-default alert-info" data-location-id="<%= location.id %>"><%= location.name_en %></li>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="span5 reward-box">
    <%= render :partial => 'reward' %>
  </div>

</div>

<div id="reward_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true"
     data-rewardable-type="<%= @route.class.model_name %>" data-rewardable-id="<%= @route.id %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="modal_title">Reward</h4>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary save">Save changes</button>
  </div>
</div>


