<ul class="breadcrumb">
  <li><%= link_to t(:home) , home_path %> <span class="divider">/</span></li>
  <li><%= link_to t(:'navbar.route_profiles') , route_profiles_path %> <span class="divider">/</span></li>
  <li class="active"><%= t(:edit) + ' "' + @route_profile.name + '"'%></li>
</ul>

<%= render 'form' %>

<%= link_to 'Show', route_profile_routes_path(@route_profile) %> |
<%= link_to 'Back', route_profiles_path %>
