
<ul class="breadcrumb">
  <li><%= link_to t(:home), home_path %><span class="divider">/</span></li>
  <% unless @city.nil? %>
    <li class=""><%= link_to t(:'navbar.cities') , cities_path %><span class="divider">/</span></li>
    <li class=""><%= link_to @city.name , city_path(@city) %><span class="divider">/</span></li>
  <% end %>
  <li class="active"><%= t(:'navbar.routes_profiles') %></li>
  <% if can? :create, RouteProfile %>
    <li class="pull-right"><%= link_to t(:add_profile), (@city.blank? ? new_route_profile_path : new_city_route_profile_path(@city)), :class => "add-route btn btn-mini btn-success pull-right" %></li>
  <% end %>
</ul>
<%= render :partial => "shared/city_tabs", :locals => {} %>
<div class="row-fluid">
  <%- model_class = RouteProfile -%>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:image) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:translations) %></th>
      <th></th>
    </tr>
    </thead>
    <% @route_profiles.each do |route_profile| %>
      <tr>
        <td><%= image_tag (route_profile.image.icon.url ), :class => "route-list-img"  %></td>
        <td class="name"><%= link_to route_profile.name, route_profile_path(route_profile) %></td>
        <td class="city"><%= route_profile.city.name unless route_profile.city.nil? %></td>
        <td class="translations"><%= route_profile.translated_locales.join(" | ") %></td>
        <td><%= link_to t(:edit), edit_route_profile_path(route_profile), :class => "btn btn-primary" %></td>

      </tr>
    <% end %>
  </table>

  <br/>


</div>

<br/>

