
<ul class="breadcrumb">
  <li><%= link_to t(:home), home_path %><span class="divider">/</span></li>
  <% unless @city.nil? %>
    <li class=""><%= link_to t(:'navbar.cities') , cities_path %><span class="divider">/</span></li>
    <li class=""><%= link_to @city.name , city_path(@city) %><span class="divider">/</span></li>
  <% end %>
  <li class="active"><%= t(:'navbar.routes_profiles') %></li>
  <% if can? :create, RouteProfile %>
    <li class="pull-right"><%= link_to t(:add_profile), (@city.blank? ? new_route_profile_path : new_city_route_profile_path(@city)), :class => "add-route btn btn-mini btn-success pull-right" %></li>
  <% end %>
</ul>
<%= render :partial => "shared/city_tabs", :locals => {} %>
<%= render :partial => "route_profiles/listing", :locals => {} %>


