<ul class="breadcrumb">
  <li><%= link_to t(:home), home_path %> <span class="divider">/</span></li>
  <li class="active"><%= t(:'navbar.route_profiles') %></li>
</ul>
<div class="row-fluid">
  <ul class="thumbnails">
    <% @route_profiles.each do |route_profile| %>

      <li class="span4">
        <div class="thumbnail">
          <img style="width: 300px; height: 200px;" src="<%= route_profile.image.mobile %>">

          <div class="caption">
            <ul class="nav nav-tabs">
              <%= render :partial => "shared/translation_tabs", :locals => {:locale => I18n.locale, :resource => route_profile, :active => true} %>
              <% route_profile.translations.each do |translation| %>
                <%= render :partial => "shared/translation_tabs", :locals => {:locale => translation.locale, :resource => route_profile} if (translation.locale != I18n.locale) %>
              <% end %>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="<%= translation_tab_id(route_profile, locale) %>">
                <h5><%= route_profile.name %></h5>

                <p><%= route_profile.description %></p>
              </div>
              <% route_profile.translations.each do |translation| %>
                <%= render :partial => "shared/translation_values", :locals => {:translation => translation, :resource => route_profile} %>
              <% end %>

            </div>

            <p>

              <%= link_to t(:'.edit'), edit_route_profile_path(route_profile), :class => "btn" %>
            </p>
          </div>
        </div>
      </li>

    <% end %>
  </ul>
</div>

<br/>

<%= link_to 'New Route profile', new_route_profile_path %>
