<ul class="breadcrumb">
  <li><%= link_to t(:home) , home_path %> <span class="divider">/</span></li>
  <li><%= link_to t(:'navbar.route_profiles') , route_profiles_path %> <span class="divider">/</span></li>
  <li class="active"><%=t(:new_route_profile) %></li>
</ul>

<%= render 'form' %>

<%= link_to 'Back', route_profiles_path %>
