<ul class="breadcrumb">
  <li><%= link_to t(:home) , home_path %> <span class="divider">/</span></li>
  <li><%= link_to t(:'navbar.route_profiles') , route_profiles_path %> <span class="divider">/</span></li>
  <li class="active"><%=@route_profile.name_en %></li>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Name en:</b>
  <%= @route_profile.name_en %>
</p>

<p>
  <b>Description en:</b>
  <%= @route_profile.description_en %>
</p>

<p>
  <b>Name nl:</b>
  <%= @route_profile.name_nl %>
</p>

<p>
  <b>Description nl:</b>
  <%= @route_profile.description_nl %>
</p>

<p>
  <b>Icon:</b>
  <%= @route_profile.icon %>
</p>

<p>
  <b>Image:</b>
  <%= @route_profile.image %>
</p>


<%= link_to 'Edit', edit_route_profile_path(@route_profile) %> |
<%= link_to 'Back', route_profiles_path %>
