<h1>Listing checkins</h1>


<div class="row">


<table class="table table-striped">
  <tbody>
  <tr>
    <th>Route</th>
    <th>Location</th>
    <th>Device</th>
    <th>Stamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checkins.each do |checkin| %>
  <tr>
    <td><%= link_to checkin.route.name, checkin.route %></td>
    <td><%= link_to checkin.location.name, checkin.location %></td>
    <td><%= link_to checkin.device.identifier, checkin.device %></td>
    <td><%= checkin.stamp %></td>
    <td><%= link_to 'Show', checkin %></td>


  </tr>
<% end %>
  </tbody>
</table>

<br />


</div>
