<p id="notice"><%= notice %></p>

<p>
  <b>Route:</b>
  <%= link_to @checkin.route.name, @checkin.route %>
</p>

<p>
  <b>Location:</b>
  <%= link_to @checkin.location.name, @checkin.location %>
</p>

<p>
  <b>Device:</b>
  <%= link_to @checkin.device.identifier, @checkin.device %>
</p>

<p>
  <b>User:</b>
  <%= link_to @checkin.device.user.email, @checkin.device.user unless @checkin.device.user.nil?  %>
</p>

<p>
  <b>Stamp:</b>
  <%= @checkin.stamp %>
</p>


<%= link_to 'Back', checkins_path %>
