<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs clearfix">


    <div class="span5">

      <%= f.input :network, :hint => @location.new_record? ? t(:".select_city_to_use_map") : nil do %>
        <%= f.select :city_id,
                     cities_curated.map { |a| [a.fullname, a.id, {:"data-latitude" => a.latitude, :"data-longitude" => a.longitude}] },
                     {include_blank: true},
                     {} %>
      <% end %>


      <%= f.input :image %>
      <%= f.input :address, :disabled => f.object.new_record?  %>
      <%= f.input :city, :disabled => f.object.new_record? %>
      <%= f.input :postal_code, :disabled => f.object.new_record? %>
      <%= f.input :latitude, :as => :string, :input_html => {:readonly => true} %>
      <%= f.input :longitude, :as => :string, :input_html => {:readonly => true} %>
    </div>
    <div class="span5">
      <%= search_field_tag :search_map, nil, :placeholder => t(:search_map), :class => "search-map", :disabled => f.object.new_record? %>
      <div class="location-map">

        <% options = {
            :map_options => {

                zoom: 14,
                auto_adjust: true,
                zoomControl: true,
                streetViewControl: false,
                scaleControl: false,
                rotateControl: false,
                mapTypeControl: false,
                panControl: false,
                scrollwheel: false,
                center_latitude: @location.latitude,
                center_longitude: @location.longitude

            },
            :markers => {:data => [], :options => {:do_clustering => true}}
        }
        %>
        <%= gmaps(options) %>
        <div class="overlay<%= " hidden" if f.object.persisted? %>"></div>
      </div>
    </div>
    <div class="span9">

      <%= render :partial => "shared/localized_attributes", :locals => {:resource => @location, :f => f} %>

    </div>


  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% content_for :scripts do %>
  <script>

  </script>
<% end %>