<%- model_class = Location -%>
<ul class="breadcrumb">
  <li><%= link_to t(:home), home_path %> <span class="divider">/</span></li>
  <li><%= link_to t(:'navbar.locations'), locations_path %> <span class="divider">/</span></li>
  <li class="active"><%= t(:".title") %></li>
</ul>
<%= render 'form' %>

<%= link_to 'Back', locations_path %>
