<p id="notice"><%= notice %></p>

<p>
  <b>Name en:</b>
  <%= @location.name_en %>
</p>

<p>
  <b>Description en:</b>
  <%= @location.description_en %>
</p>

<p>
  <b>Name nl:</b>
  <%= @location.name_nl %>
</p>

<p>
  <b>Description nl:</b>
  <%= @location.description_nl %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>Postal code:</b>
  <%= @location.postal_code %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
